@charset "utf-8";

@font-face {
font-family:"YuGothic-M";
font-weight:normal;
src:local("YuGothic-Medium"),
local("Yu Gothic Medium"),
local("YuGothic-Regular");
}
@font-face {
font-family:"YuGothic-M";
font-weight:bold;
src:local("YoGothic-Bold"),
local("Yu Gothic Bold"),
local("Yu Gothic");
}
@font-face {
font-family:"Hiragino Sans";
src:local(HiraginoSans-W4);
font-weight:normal;
}
@font-face {
font-family:"Hiragino Sans";
src:local(HiraginoSans-W6);
font-weight:bold;
}

* {
box-sizing:border-box;
margin:0;
padding:0;
border:0;
outline:0;
font-style:normal;
word-break:normal;
word-wrap:break-word;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
}
body {
-webkit-text-size-adjust:100%;
font-family:"Hiragino Sans","Hiragino Kaku Gothic ProN",YuGothic-M,YuGothic,"游ゴシック",sans-serif;
font-size:14px;
line-height:1.7;
color:#333;
font-feature-settings:"halt";
}

article,aside,figure,footer,header,main,menu,nav,section {
display:block;
}
audio,canvas,video {
display:inline-block;
}
img {
vertical-align:bottom;
}
input,select,textarea {
font-size:100%;
vertical-align:middle;
}
ul,ol {
list-style-type:none;
}
h1,h2,h3,h4,h5,h6,strong {
font-feature-settings:"palt";
letter-spacing:.01em;
}
table {
border-collapse:collapse;
border-spacing:0;
}

a {
color:#08c;
text-decoration:none;
}
a:hover,a:active {
text-decoration:underline;
}
a img {
transition:opacity 0.5s ease-in-out;
}
a:hover img {
opacity:0.8;
}
ruby {
font-feature-settings:"pwid";
}

/* clearfix */
.cf:after {
display:block;
content:"";
clear:both;
}
